<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Register</h4>
                <form action="/register" method="POST">
                    <input type="text" id="userName" name="name" class="form-control input-sm chat-input" placeholder="username" required="required"/>
                    </br>
                    <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" required="required" />
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">     
                            <input type="submit" class="btn btn-primary btn-md" value="Register">
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>