<div class="bs-example">
	<h3 class="h3_class">Stripe payment page</h3>
    <div class="row">
        <div class="col-md-offset-5 col-md-3 btn_class" >
		     <form action="/createtransaction" method="POST" >
		        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		            data-key="pk_test_ZS2Rwt3uiv81fyeM8P8f9OLt"
		            data-name="Node test"
		            data-description="Send lots of love"
		            data-amount="1000"
		            data-currency="USD"
		            data-billing-address="true"
		            data-label="Pay using Stripe">
		    </form>
		</div>
	</div>
</div>
